*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
    background-color: whitesmoke;
    height: 4555px;
    font-family: Verdana, sans-serif;
}
nav{
    background-color: whitesmoke;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
   }

img.logoc{
   height: 35px;
   width: 35px;
   }
label.logo{
    color: tomato;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block; 
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;

}
active,a:hover{
    background:whitesmoke;
    transition: .5s;
}
  @media (max-width:576){
      jumbotron{
          margin-top: 40px;
          margin-left: 80px;
      }
  }
  /*.mySlides {display: none;}
  img {vertical-align: middle;}
  
  /* Slideshow container */
  slideshow-container {
    max-width: 1300px;
    position:absolute;
    margin-top: 80px;
    z-index: 2;
  }
  
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 30px;
    padding: 15px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1.2s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
  img{
      height: 625px;
  }
  
h2.featurette-heading{
    margin-left: 40px;
}
input{
  margin-top: 20px;
}
textarea{
  margin-top:20px;
}
button{
  margin-top: 20px;
}
res{
    position:absolute;
    margin-top: 80px;
    background-color: #e9ecef;
    border-radius: 0.3rem;
    z-index: 2; 
}
